@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* Imposta stili di base per tutti gli elementi HTML */
* {
  margin: 0; /* Imposta il margine a 0 per tutti gli elementi */
  padding: 0; /* Imposta il padding a 0 per tutti gli elementi */
  box-sizing: border-box; /* Imposta box-sizing a border-box per includere padding e bordo nella larghezza e nell'altezza degli elementi */
  text-decoration: none; /* Rimuove la sottolineatura da tutti i link */
  border: none; /* Rimuove tutti i bordi */
  outline: none; /* Rimuove tutti gli outline quando gli elementi sono attivi */
  scroll-behavior: smooth; /* Aggiunge uno scorrimento fluido ai link interni */
  font-family: "Poppins", sans-serif; /* Imposta il tipo di carattere principale */
}

/* Definisce variabili CSS globali per i colori */
:root {
  --bg-color: #180c36; /* Colore di sfondo principale */
  --second-bg-color: #0a052b; /* Secondo colore di sfondo */
  --text-color: #ededed; /* Colore del testo principale */
  --main-color: #f000f0; /* Colore principale */
}

/* Applica stili specifici all'elemento html */
html {
  font-size: 62.5%; /* Imposta la dimensione del carattere di base a 62.5% */
  overflow-x: hidden; /* Nasconde la barra di scorrimento orizzontale */
}

/* Applica stili specifici all'elemento body */
body {
  background:var(--second-bg-color);
  
  color: var(
    --text-color
  ); /* Imposta il colore del testo utilizzando la variabile --text-color */
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  /* background-color: yellowgreen;*/
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
}
.border{
  border: 2px solid var(--main-color);
  border-radius: 10px;
  padding:5re;
}

.header.sticky{
  background: var(--second-bg-color);
}
.logo {
  
  position: relative;
  font-size: 25px;
  left: 1%;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}
.navbar{
  position: relative;

}
.navbar a {
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}
#menu-icon{
  position: relative;
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
  margin-right: 5%;

}



/* Styles for the dropdown container */
.drop-down {
  position: fixed;
  left: 3%;
  margin-right: 20%;

  opacity: 0.7;
  width: 80px;
  display: flex;
  align-items: center;
  /*background-color: rgba(197, 10, 169, 0.1);*/
 /* border: 1px solid rgba(0, 0, 0, 0.5);*/
  transition: height 0.3s;
  

}

/* Styles for the dropdown menu when hovered */
.drop-down:hover {
  /*background-color: rgba(197, 10, 169, 0.5);*/
}

/* Styles for the hidden language options */
.lang-options {
  display: none; /* Hide by default */
position: absolute;
  top: 120%;
  left: 0;
  width: 100%; /* Adjust width as needed */
 /* background-color: rgba(197, 10, 169, 0.5);/* Background color for the language options */
  border: 1px solid rgba(0, 0, 0, 0.5);
align-items: center; 
transition: height 0.3s;
}

/* Show the language options when the dropdown is hovered */
.lang-options_active {
  display: none ;
align-items: center;
}

.btn_arrow{
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.lang_iso{
  margin-left: 1rem;
}

.lang{

  width: 60px;;
  display: flex;
  align-items: center;
}
.lang img, .lang-options a img{

  height: 25px;
  width: 35px;
  background-size: contain;
  
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  transition: .1s;
}


.home {
  height: 100vh;
  display: flex;
  align-items: center;

  background: url(home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

section{
  min-height:100vh;
  padding:10rem;
}

.home-content {
  max-width: 600px;
  z-index: 99;
}
.home-content .text-animate{
  position: relative;
  width: 32.8rem;
}
.home-content .text-animate h3{
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-sTroke: .7px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;

  background-position: -33rem 0;
  animation: homeBgText 5s linear infinite;
  animation-delay: 1s;
}
.home.show-animate.home-content .text-animate h3{
  animation: homeBgText 5s;
}
.home-content .text-animate h3::before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:0;
  height: 100%;
  border-right: 2px solid var(--main-color);
  animation: homeCursorText 5s linear infinite;
  animation-delay: 1s;

}
.home-content h1 {
 position: relative;
 display: inline-block;
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 1.3;
}

.home-content h1 span{
  color: var(--text-color);
}
.home-content p {
  position: relative;
  font-size: 1.6rem;
  margin: 20px 0 40px;
}
.home-content .btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}
.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 8px;
  font-size: 19px;
  color: var(--bg-color);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  /*quando il container subisce un overflow, il contenuto strabordante viene nascosto*/
  overflow: hidden;
  transition: .5s;;
}
.btn-box a:hover{
    color: var(--main-color);
}
.btn-box a:nth-child(2) {
  background: transparent;
  color: var(--main-color);
}
.btn-box a:nth-child(2):hover {
    color: var(--bg-color);
  
  }
.btn-box a:nth-child(2)::before {
  background: var(--main-color);

}

.btn-box a::before {
  content: "";
  position: absolute;/*non "spinge il testo"*/
  /*in posizioni assolute left top sono posizioni d'inizio*/
   /*in questo caso top 0 parte dall'inizio del container superiore
   left parte dal margine sinistro e la larghezza è 0*/
  top: 0;
  left: 0px;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1; /*mette dietro all'elemento*/


}
.btn-box a:hover::before {
    /* quando è hover la larghezza è il totale del container che si
    riempirà da sinistra verso destra con la transizione definita in before*/
  width: 100%;
  transition: 0.5s;

  /*si può anche definire qui e mi sembra abbia più senso*/
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;

}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;

}
.home-sci a::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
}
.home-sci a:hover{
 color: var(--bg-color);
}
.home-sci a:hover::before{
    transition: 0.3s;
width: 100%;

}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2rem;
  background: var(--second-bg-color);
  padding-bottom: 6rem;
}
.heading{
  position: relative;
 
  font-size: 5rem;
  margin-bottom:3rem;
  text-align: center;
}
span{
  color: var(--main-color);
}
.about-img{
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img{
  width:90%;
  border-radius: 50%;
  border: .2rem solid var(--main-color);
}

.about-img .circle-spin{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%) rotate(0);/*da capire*/
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid var(--second-bg-color);
  border-bottom: .2rem solid var(--second-bg-color);
  border-left: .2rem solid var(--main-color);
  border-right: .2rem solid var(--main-color);
  animation: aboutSpinner 10s linear infinite;

}
.about-content{
  text-align: center;

  
}
.about-content h3{
  position: relative;
  display: inline-block;
  font-size: 2.6rem;
}
.about_title_2{
  position: relative;
  display: inline-block;
  font-size: 2.6rem;
  margin-top: 0;
}
.about-content p{
  position: relative;
  font-size: 1.6rem;
  margin: 2rem 0 3rem;

}

.about-descr{
  justify-content: left;
}

button{
  color: var(--main-color);
}
.btn-box{
  position: relative;
  display:flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;;
 
}
.btn-box .btn{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
background-color: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size:  1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
}
.btn-box .btn::before {
  content: "";
  position: absolute;/*non "spinge il testo"*/
  /*in posizioni assolute left top sono posizioni d'inizio*/
   /*in questo caso top 0 parte dall'inizio del container superiore
   left parte dal margine sinistro e la larghezza è 0*/
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1; /*mette dietro all'elemento*/
 
}
.btn-box .btn:hover{
  color: var(--main-color);
}
.btn-box .btn:hover::before{
 width: 100%;
 transition: 0.5s;

}
.btn-box.btns{
  display: inline-block;
  width: 15rem;;
  

}
.btn-box.btns a::before{
  background: var(--second-bg-color);
 
}

.education{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom:5rem;

}
.education-row{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column{
  flex: 1 1 40rem;  
  flex-direction:column-reverse;

}
.title_2{ font-size:10rem}
.education-column .title{
  position: relative;
  font-size:2.5rem;
  margin: 0 0 1.5rem 2rem;
}
.education-column .education-box{
  
  position: relative;
border-left: .2rem solid var(--main-color);

}
.education-box .education-content{

  position: relative;
  padding-left: 2rem;
  
}

.education-content .content{
  height: 150px;
  position: relative;
  padding: 1.5rem;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}
.education-content .content:hover::before{
 width: 100%;
 transition: 0.4s;
}
.education-content .content::before{
  content: '';
  position:absolute;
  top:0;
  left:0;
  width: 0; height: 100%;
  background: #1c0e41; ;
  z-index: -1;
}
.education-box .education-content::before{
  content: '';
  position: absolute;
  top:0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;

}
.education-content .content .year{
  font-size: 1.5rem;
  color: var(--main-color);
padding-bottom: .5rem;}

.education-content .content .year i{
 padding-right: .5rem;}

 .education-content .content h3{
  font-size: 2rem;
 }
 .education-content .content h3{
  font-size: 1.6rem;
  padding-top: .5rem;
 }
 .skills{
  min-height: auto;
  padding-bottom:  7rem;
  background-attachment: var(--second-bg-color);
 }
 .skills h2{
  display: inline-block;
  left:50%;  transform: translateX(-50%);
 }
 .skills .skills-row{
  display: flex;
  flex-wrap: wrap;
  gap:5rem;
 }
 .skills-column{
  flex: 1 1 40rem;

 }
 .skills-column .title{
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  margin: 0 0 1.5rem;

 }
 .skills-column .skills-box{
  position: relative;
 }
 .skills-box .skills-content{
  position: relative;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  padding: .5rem 1.5rem;
  z-index: 1;
  overflow: hidden;

}
.skills-box .skills-content:hover::before{
  width: 100%;
  transition: 0.4s;
 }
 .skills-box .skills-content::before{
   content: '';
   position:absolute;
   top:0;
   left:0;
   width: 0; height: 100%;
   background: #1c0e41; ;
   z-index: -1;
 }

.skills-content .progress{
  padding:1rem 0;
}
.skills-content .progress h3{
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}
.skills-content .progress h3 span{
  /*color:var(--text-color);*/
}

.skills-content .progress .bar{
  height: 2.5rem;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
  padding: .5rem;
  margin: 1rem 0;

}

.skills-content .progress .bar span{
display: block;
height: 100%;

background: var(--main-color) ;
}

/*.contact{
  
}*/
.contact h2{
  display:inline-block;
  left: 50%;
  transform: translate(-50%);
}

.contact form{
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}
.contact form .input-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box .input-field{
  position: relative;
  width: 49%;
  margin: .8rem 0;

}

.contact form .input-box .input-field input,
.contact form  .textarea-field textarea{
 width: 100%;
 height: 100%;
 border-radius: .6rem;
  border: .2rem solid var(--main-color);
 padding: 1.6rem; color: var(--bg-color);
 background: transparent;
 color: var(--text-color);
}

/*.contact form .input-box .input-field input::placeholder,
.contact form  .textarea-field textarea::placeholder{
 
}*/
.contact form  .textarea-field textarea{
  resize: none;

}

.contact form  .btn-box.btns .btn{
  cursor: pointer;
}
.contact form  .textarea-field {
  position: relative; margin: .8rem 0 2.7rem;
  display: flex;


}
.contact form .focus{
  position: absolute;
  top:0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  border-radius: .6rem;
  z-index: -1;
  transition: .5s;

}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus
{
  width:100%;
}
.contact form .textarea-field textarea:focus~.focus
{
  width:100%;
}
.footer{
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--bg-color);
}
.footer-text,
.footer-iconTop{
  position: relative;
}

.footer-text p{
  font-size: 1.4rem;
}
.footer-iconTop a{
  position: relative;
  display: inline-flex;
  justify-content:center ;
  align-items:center ;
  padding:.8rem;
  background: var(--main-color);
  border: .2rem solid --main-color;
  border-radius: .6rem;
}
.footer-iconTop a i{
  font-size: 2.4rem;
  color: var(--bg-color);
}
/*Animation reload and scroll*/
.animate{
  position: absolute;
  top:0;
  right: 0;
  width:100% ;
  height: 100%;
  background: var(--second-bg-color);
  z-index: 90;
}
.logo .animate, .navbar .animate, #menu-icon .animate,
.home.show-animate .animate, .animate
{
  animation:showRight 0.6s ease forwards;
  animation-delay: calc(.3s * var(--i));
}
.animate.scroll{
  transition: 0.6s ease;
  transition-delay: calc(.3s * var(--i)); ;
  animation: none;
}
.education .education-box .animate.scroll{
  width: 105%;
}
.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.education.show-animate .education-box .animate.scroll,
.skills.show-animate .animate.scroll,
.contact.show-animate .animate.scroll,
.footer.show-animate .animate.scroll{
  transition-delay: calc(.05s * var(--i)); 
  width: 0;
}
@media (max-width:1200px){
  html{
    font-size: 55%;
  }
}

@media (max-width:990px){
  .header{
   padding: 2rem 4%;
  }
  a.logo{

margin-left: 10%;

  }
  section{
    padding: 10rem 4% 2rem;
  }
  .home{
    padding: 0 4%;
  }
  .footer{
    padding: 2rem;
  }
}
@media (max-width:768px){
  .header{
  /* background: var(--bg-color);*/
  }
  a.logo{
    margin-left: 15%;
  }
  #menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 4%;
    
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    z-index: 1;
    transition: 0.25s ease;
    transition-delay: 0.4s;
  }
  .navbar.active{
 
    transition-delay: 0s;
    left:0;
  }
.navbar .active-nav{
  opacity: 0.7;
    position:absolute;
    top: 0;
    left:-100%;
    width: 100%;
    height: 100%;
    background: var(--second-bg-color);
   border-top:  .1rem solid rgba(0,0,0,.2);
   z-index: -1;
transition: .3s ease;
transition-delay: 0s;
  }
  .navbar.active .active-nav{
    transition-delay: .3s;
    left:0;
  }
  .navbar a{
 
    display: block;
    font-size:2rem;
    margin: 3rem 0;
   transform: translateX(-20rem);
   transition: .4s ease;
   transition-delay: 0s;
   text-align: right;
  }
  .navbar.active a{
    opacity: 1;
    transform: translateX(0);
    transition: 0.8s ease;
  }

  section{
    padding: 10rem 4% 2rem;
  }
  .home{
    padding: 0 4%;
  }
  .footer{
    padding: 2rem;
  }

}

@media (max-width: 520px){
  a.logo{
    margin-left: 22%;
    font-size: 20px;
  }
 html{
  font-size:50%;
 }
 .home-content h1{
  display: flex;
  flex-direction: column;
 }
 .home-sci{
  width:160px;
 }
 .home-sci a{
width:38px;
height:38px;
 }
 .contact{
  padding-top: 10rem;
 }
}
@media (max-width: 462px){
  
  .home-content h1{
   font-size: 5.2rem;
  }
.education{
  padding: 10rem 4% 5rem 5%;
}

.contact form .input-box .input-field{
  width: 100%;

}
.footer{
  flex-direction: column-reverse;

}
.footer p{
  margin-top:2rem;
  text-align: center;
}
 }
 @media (max-width: 371px){
  .home{
    justify-content: center;
  }
  .home-content{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-content h1{
    font-size: 5rem;
  }
  .footer p{
   
    text-align: center;
  }
 }
 @keyframes homeBgText{
  0%,10%,100%{
    background-position: -33rem 0;
  }
  65%,85%{
    background-position: 0 0;
  }
 }
 @keyframes homeCursorText{
  0%,10%,100%{
    width:0;
  }
  65%,78%,85%{
    width: 100%;
    opacity: 1;
  }
  75%,81%{

    opacity: 0;
  }
 }
 @keyframes aboutSpinner {
   100%{
    transform: translate(-50%, -50%) rotate(360deg);
   }
 }

 @keyframes showRight{
  100%{
    width: 0;
  }
 }

 
 
/*@media only screen and (max-width: 768px) {

  section{
    min-height:100vh;
    padding:2rem;
    transition: 1.5s;
  }
  .home-content h1 {
    font-size: 30px;
    font-weight: 700;
  
    line-height: 1.2;
  }
  
  
  .home-content p {
    font-size: 10px;
    margin: 20px 0 40px;
  }
  .home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 30px;
  }
}

